.button {
  margin: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5888DA;
  border: none;
  border-radius: 4px;
  height: 25px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .3s;
}

.button__image {
  margin: 0 5px 0 0;
  padding: 0;
  width: 16px;
  height: 15px;
}

.button__text {
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
}
